<!DOCTYPE html>
<html lang="en" ng-app="MenuCategoriesApp">
    <head>
        <title>Ajax with $http service</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="angular.js"></script>
        <script src="app.js"></script>

    </head>
    <body>
        <h1>Ajax with $http service</h1>
        
        <div ng-controller="MenuCategoriesController as menu">
            <h3>List of Menu Categories</h3>
            
            <ul>
                <li ng-repeat="category in menu.categories">
                    (<a href="" ng-click="menu.logMenuItems(category.short_name)">{{category.short_name}}</a>)
                    {{category.name}}
                </li>
            </ul>
            
        </div>
        
    </body>
</html>