<!DOCTYPE html>
<html ng-app="ShoppingListApp">
    <head>
        <title>Filtered ng-repeat</title>
        <meta charset="UTF-8">

        <script src="angular.js"></script>
        <script src="app.js"></script>

    </head>
    <body>
        <h1>Filtered ng-repeat</h1>
        <div ng-controller="ShoppingListController">
            <!-- Searchable Shopping List: -->
            <h3>Shopping List:</h3>
            
            <input type="text" ng-model="search">
            <ul>
                <li ng-repeat="item in shoppingList | filter : search">{{item}}</li>
            </ul>
            
        </div>
        
    </body>
</html>