<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListDirectiveApp">
    <head>
        <title>Template Expanding Directive</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="angular.js"></script>
        <script src="app.js"></script>

    </head>
    <body>
        <h1>Template Expanding Directive</h1>
        
        <!--List #1 - unlimited items-->
        <div ng-controller="ShoppingListController1 as list">
            <h3>Shopping List #1</h3>
            
            <input type="text" ng-model="list.itemName" placeholder="item name">
            <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
            <button ng-click="list.addItem()">Add Item</button>
            
            <ol>
                <list-item ng-repeat="item in list.items"></list-item>
            </ol>
            
            <div class="error">Error: {{list.errorMessage}}</div>
        </div>
        
        <!--List #2 - limited to 3 items-->
        <div ng-controller="ShoppingListController2 as list">
            <h3>Shopping List #2 (limited to 3 items)</h3>

            <input type="text" ng-model="list.itemName" placeholder="item name">
            <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
            <button ng-click="list.addItem()">Add Item</button>

            <ol>
                <list-item ng-repeat="item in list.items"></list-item>
            </ol>

            <div class="error">Error: {{list.errorMessage}}</div>
        </div>
        
    </body>
</html>