<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListDirectiveApp">
    <head>
        <title>Directives with Isolate Scope and '&amp;'</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="angular.js"></script>
        <script src="app.js"></script>

    </head>
    <body>
        <h1>Directives with Isolate Scope and '&amp;'</h1>
        
        <!--List #1 - unlimited items-->
        <div ng-controller="ShoppingListController as list">
            
            <input type="text" ng-model="list.itemName" placeholder="item name">
            <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
            <button ng-click="list.addItem()">Add Item</button>
            
            <span>{{list.lastRemoved}}</span>
            
            <shopping-list
                           items="list.items"
                           title="{{list.title}}"
                           bad-remove="list.removeItem"
                           on-remove="list.removeItem(index)">
            </shopping-list>
            
        </div>
        
    </body>
</html>